html{
    background-color: rgb(255, 255, 255);
}

#titulo2{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
    position:a;
    text-align: center;
    font-weight:bolder;
    white-space: nowrap;
}

#container{
    text-align: center;
}

#container2{
    text-align: center;
}

#img2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    display: inline-block;

}

.lista{
    font-style: italic;
}

#img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    display: inline-block;
}

#titulo1{
    text-align: center;
    color: orange;
    background-color: blue;
}

#texto{
    text-align: center;
}

h3{
    position: relative;
    color: orange;
}